*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  --secondary-color: #757575;
}

body {
  font-family: var(--main-font);
  color: #212121;
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* ############## POWTARZALNE STYLE ############## */
.navigation-list,
.features-list,
.team-list,
.about-list,
.buttons-list,
.projects-list,
.address-list,
.social-links-list,
.clients-list {
  list-style: none;
}

.contact-link-mail:hover,
.contact-link-mail:focus,
.contact-link-phone:hover,
.contact-link-phone:focus,
.navigation-list-link:hover,
.navigation-list-link:focus,
.address-contact-link-mail:hover,
.address-contact-link-mail:focus,
.address-contact-link-phone:hover,
.address-contact-link-phone:focus {
  color: var(--main-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn,
.portfolio-btn,
.social-links-list-item,
.clients-list-item,
.projects-list-item {
  cursor: pointer;
}

.contact-link-mail,
.contact-link-mail,
.contact-link-phone,
.contact-link-phone,
.navigation-list-link,
.navigation-list-link,
.address-contact-link-mail,
.address-contact-link-mail,
.address-contact-link-phone,
.address-contact-link-phone,
.navigation-main,
.secondary-main {
  text-decoration: none;
}
/* ############## POWTARZALNE STYLE ############## */

/* ############## Sekcja HEADER ############## */

.header,
.navigation,
.navigation-list,
.container {
  display: flex;
  align-items: center;
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.navigation-main {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-left: px;
  width: 145px;
  height: 31px;
  margin-right: 93px;
}

.logo-1 {
  color: var(--main-color);
}

.logo-2 {
  color: #212121;
}

.logo-2-footer {
  color: #ffffff;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.navigation-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active::after {
  content: "";
  position: absolute;
  display: flex;
  width: 53px;
  height: 4px;
  margin-top: 28px;
  background: #2196f3;
  border-radius: 2px;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active-port::after {
  content: "";
  position: absolute;
  display: flex;
  width: 58px;
  height: 4px;
  margin-top: 28px;
  background: #2196f3;
  border-radius: 2px;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link-mail,
.contact-link-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link-phone {
}

.contact-link-mail {
  margin-right: 50px;
  margin-left: 351px;
}

.mail-icon,
.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon:hover,
.phone-icon:hover {
  fill: var(--main-color);
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ############## Koniec sekcji HEADER ############## */

/* ############## Sekcja HERO   ############## */
.main-header-container {
  margin: 0 auto;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 280px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-main.jpg");
  background-size: cover;
}

.m-h-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-header {
  width: 696px;
  height: 120px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: inline-block;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
  width: 200px;
  height: 50px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 94px;
  height: 101px;
}

.features-list-item {
  width: 270px;
  height: 101px;
  flex-basis: calc(100% / 4 - 30px);
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-icon-par {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.antenna {
  margin-top: 25px;
  margin-right: 102.34px;
  margin-bottom: 25px;
  margin-left: 102.34px;
}

.clock {
  margin-top: 25px;
  margin-right: 101.5px;
  margin-bottom: 25px;
  margin-left: 101.5px;
}

.diagram {
  margin-top: 33.2px;
  margin-right: 100px;
  margin-bottom: 33.2px;
  margin-left: 100px;
}

.astronaut {
  margin-top: 25px;
  margin-right: 100px;
  margin-bottom: 25px;
  margin-left: 100px;
}

.features-name {
  width: 270px;
  height: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-description {
  width: 270px;
  height: 75px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* ############## Koniec sekcji HERO ############## */

/* ############## Czym się zajmujemy ############## */
.work {
  margin-bottom: 94px;
}

.about {
  /*width: 970px;*/
  height: 386px;
  margin-left: 15px;
  padding-bottom: 94px;
  margin-bottom: 188px;
}
.secondary-header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.secondary-header-container {
  margin-top: 94px;
  padding-top: 94px;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-list-item {
  flex-basis: calc(100% / 3 - 30px);
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.thumb > .label {
  position: absolute;
  display: flex;
  margin-top: 224px;
  width: 370px;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/* ############## Koniec sekcji Czym się zajmujemy ############## */

/* ############## Nasz zespól ############## */

.secondary-header-team {
  margin-bottom: 50px;
}

.team {
  display: flex;
  flex-direction: column;
  background-color: #f5f4fa;
  background-size: 100%;
  height: 648px;
  margin-top: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  height: 368px;
  margin-left: 15px;
  margin-right: 15px;
}

.team-list-item {
  width: 270px;
  height: 428px;
  flex-basis: calc(100% / 4 - 30px);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-member {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-top: 30px;
  text-align: center;
}

.type-of-work-in-team {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 10px;
  text-align: center;
}

.social-links-list {
  display: flex;
  flex-wrap: wrap;
  width: 206px;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.social-list-link:hover,
.social-list-link:focus,
.social-list-link-footer:hover,
.social-list-link-footer:focus {
  fill: #ffffff;
  background-color: var(--main-color);
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list-item {
  flex-basis: calc(100% / 4 - 10px);
}

.social-links-list-item:not(:last-child) {
  margin-right: 10px;
}
/* ############## Koniec sekcji Nasz zespól ############## */

/*############## Nasi klijenci ###############*/
.clients {
  display: flex;
  flex-direction: column;
  margin-top: 94px;
  margin-bottom: 94px;
}

.secondary-header-clients {
  margin-bottom: 50px;
  margin-left: 15px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  width: px;
  height: px;
  align-items: center;
  justify-content: center;
  padding-left: px;
}

.clients-list-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients-list-item {
  flex-basis: calc(100% / 6 - 30px);
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-link {
  fill: #afb1b8;
}

.logo1,
.logo2 {
  margin-top: 17.71px;
  margin-right: 32px;
  margin-bottom: 14.25;
  margin-left: 32px;
}

.logo3,
.logo4,
.logo5,
.logo6 {
  margin-top: 16px;
  margin-right: 32px;
  margin-bottom: 16px;
  margin-left: 32px;
}

.clients-list-item:hover,
.clients-list-item:focus,
.clients-list-link:hover,
.clients-list-link:focus,
.logo-icon:hover,
.logo-icon:focus {
  fill: var(--main-color);
  border-color: var(--main-color);
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*############## Koniec Nasi klijenci ###############*/

/*##################### FOOTER #################*/
.footer {
  background: #2f303a;
  height: 252px;
}

.foot-cont {
  display: flex;
  margin-left: 140px;
}
.secondary-main {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  width: 145px;
  height: 31px;
  margin-left: 15px;
}

.address-container {
  margin-top: 60px;
}

.address-list {
  margin-top: 20px;
  margin-left: 15px;
}

.address-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-contact-link-mail,
.address-contact-link-phone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join-us {
  margin-left: 70px;
}

.join {
  width: 113px;
  height: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 39px;
}

.join-us {
  margin-left: 70px;
}

.social-list-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.inst,
.twit,
.fb,
.ln {
  fill: #ffffff;
}

.right-footer {
  margin-left: 50px;
  margin-top: 40px;
}

.newsletter {
  padding-top: 16px;
  padding-bottom: 30px;
  display: flex;
  gap: 12px;
}

.footer-heading{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}

.newsletter-text {
  border: 1px solid #757575;
  color: #757575;
  background-color: transparent;
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-text:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  outline: none;
}

.newsletter-btn-a {
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px 10px 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  cursor: pointer;
}

.newsletter-btn {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.875rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
/*##################### END FOOTER #################*/

/*##################### PORTFOLIO #################*/
.buttons-list {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 572px;
  height: 54px;
  margin-top: 94px;
  margin-left: 310px;
  margin-right: 310px;
  margin-bottom: 50px;
}

.buttons-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  background: #f5f4fa;
  border: #f5f4fa;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-btn:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.all-btn {
  width: 121px;
  height: 38px;
}

.pages-btn {
  width: 93px;
  height: 38px;
}

.apps-btn {
  width: 114px;
  height: 38px;
}

.design-btn {
  width: 91px;
  height: 38px;
}

.mark-btn {
  width: 121px;
  height: 38px;
}

.projects {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 94px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;
}

.projects-list-item {
  width: 370px;
  height: 404px;
  background: #ffffff;
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: -30px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.projects-list-item:hover,
.projects-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.box:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 49px;
}

.card {
  border: 1px solid #eeeeee;
}

.project-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-left: 24px;
}

.project-type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 4px;
  margin-left: 24px;
}

/*##################### END PORTFOLIO #################*/

/*###########BACKDROP#############*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  animation: animateModal 1000ms 1000ms;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

@keyframes animateModal {
  0% {
    transform: translate(-50%, -50%) scale(0), rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: translate(-50%, -50%) scale(1), rotate3d(0, 0, 1, 720deg);
  }
}

.close-btn {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.form-box h3 {
  text-align: center;
  padding-bottom: 30px;
  width: 448px;
  height: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
}

 .label-form {
  width: 41px;
  height: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 54px;
  margin-top: 4px;
}

.label-form textarea {
  width: 448px;
  height: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 12px;
  padding-left: 16px;
  margin-top: 4px;
}

.label-box {
  display: flex;
  align-items: center;
  margin-top: 4px;
  height: 40px;
  width: 448px;
}

.input-form {
  height: 40px;
  width: 448px;
  margin-top: 4px; 
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.label-box svg {
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-box input,
.label-form textarea {
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-box input:focus,
.label-form textarea:focus {
  border: 1px solid #2196f3;
}

.label-box input:focus + svg {
  fill: #2196f3;
}

.policy-box {
  display: flex;
  margin-top: 90px;
  align-items: center;
}

.policy {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.policy-text,
.docs {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy a {
  text-decoration: underline;
  color: #2196f3;
}

.policy a:hover,
.policy a:focus {
  opacity: 0.8;
}

.policy input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 16px;
  width: 15px;
  border: 1px solid #2f303a;;
  border-radius: 2px;
  background-color: #eee;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy:hover input ~ .checkmark {
  background-color: #ccc;
}

.policy input:checked ~ .checkmark {
  background-color: #2196f3;
  border: none;
}

.checkmark-svg {
  display: none;
  opacity: 0;
}

.policy input:checked ~ .checkmark .checkmark-svg {
  display: block;
  opacity: 1;
}

.policy-box .policy-text {
  margin: 0 5px;
}


.label-box input {
  padding-left: 42px;
}

.name-svg {
  margin-top: 6px;
  margin-left: 15px;
}

.tel-svg {
  margin-top: 5.26px;
  margin-left: 14.27px;
}

.mail-svg {
  margin-top: 6px;
  margin-left: 13.5px;
}

.modal-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  margin-left: 124px;
  margin-top: 451px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*###########END BACKDROP#############*/
