@import './utils/vars';
@import './utils/general';

@import './components/header';
@import './components/footer';

@import './components/page-index/index-hero';
@import './components/page-index/index-features';
@import './components/page-index/index-about';
@import './components/page-index/index-team';
@import './components/page-index/index-clients';

@import './components/page-portfolio/portfolio-filtr';
@import './components/page-portfolio/portfolio-content';

