.team__headline__box {
    margin-bottom: 50px;
}

.team {
    display: flex;
    flex-direction: column;
    background-color: #f5f4fa;
    background-size: 100%;
    height: 648px;
    margin-top: 94px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    height: 368px;
    margin-left: 15px;
    margin-right: 15px;
}

.team__item {
    width: 270px;
    height: 428px;
    flex-basis: calc(100% / 4 - 30px);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team__member {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    margin-top: 30px;
    text-align: center;
}

.team__work {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-top: 10px;
    text-align: center;
}

.social-links__list {
    display: flex;
    flex-wrap: wrap;
    width: 206px;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    margin-left: 32px;
}

.social__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;

    &:hover,
    &:focus {
        fill: #ffffff;
        background-color: var(--main-color);
        transition: fill 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.social-links__item {
    flex-basis: calc(100% / 4 - 10px);

    &:not(:last-child) {
        margin-right: 10px;
    }
}