.features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 94px;
    height: 101px;
}

.features__item {
    width: 270px;
    height: 101px;
    flex-basis: calc(100% / 4 - 30px);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.features__icon--box {
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
}

.features__icon--antenna {
    margin-top: 25px;
    margin-right: 102.34px;
    margin-bottom: 25px;
    margin-left: 102.34px;
}

.features__icon--clock {
    margin-top: 25px;
    margin-right: 101.5px;
    margin-bottom: 25px;
    margin-left: 101.5px;
}

.features__icon--diagram {
    margin-top: 33.2px;
    margin-right: 100px;
    margin-bottom: 33.2px;
    margin-left: 100px;
}

.features__icon--astronaut {
    margin-top: 25px;
    margin-right: 100px;
    margin-bottom: 25px;
    margin-left: 100px;
}

.features__name {
    width: 270px;
    height: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features__description {
    width: 270px;
    height: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
} 