.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    animation: animateModal 1000ms 1000ms;
    background-color: #ffffff;
    /*box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);*/
    border-radius: 4px;
}

@keyframes animateModal {
    0% {
        transform: translate(-50%, -50%) scale(0), rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: translate(-50%, -50%) scale(1), rotate3d(0, 0, 1, 720deg);
    }
}

.close__btn {
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__box {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.form__box h3 {
    text-align: center;
    padding-bottom: 30px;
    width: 448px;
    height: 23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #212121;
}

.label__form {
    width: 41px;
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 54px;
    margin-top: 4px;
}

.label__form textarea {
    width: 448px;
    height: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding-top: 12px;
    padding-left: 16px;
    margin-top: 4px;
}

.label__box {
    display: flex;
    align-items: center;
    margin-top: 4px;
    height: 40px;
    width: 448px;
}

.input__form {
    height: 40px;
    width: 448px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.label__box svg {
    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__box input,
.label__form textarea {
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__box input:focus,
.label__form textarea:focus {
    border: 1px solid #2196f3;
}

.label__box input:focus+svg {
    fill: #2196f3;
}

.policy__box {
    display: flex;
    margin-top: 90px;
    align-items: center;
}

.policy {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.policy__text,
.docs {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.policy a {
    text-decoration: underline;
    color: #2196f3;
}

.policy a:hover,
.policy a:focus {
    opacity: 0.8;
}

.policy input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    height: 16px;
    width: 15px;
    border: 1px solid #2f303a;
    ;
    border-radius: 2px;
    background-color: #eee;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy:hover input~.checkmark {
    background-color: #ccc;
}

.policy input:checked~.checkmark {
    background-color: #2196f3;
    border: none;
}

.checkmark__svg {
    display: none;
    opacity: 0;
}

.policy input:checked~.checkmark .checkmark-svg {
    display: block;
    opacity: 1;
}

.policy__box .policy__text {
    margin: 0 5px;
}


.label__box input {
    padding-left: 42px;
}

.name__svg {
    margin-top: 6px;
    margin-left: 15px;
}

.tel__svg {
    margin-top: 5.26px;
    margin-left: 14.27px;
}

.mail__svg {
    margin-top: 6px;
    margin-left: 13.5px;
}

.modal__btn {
    position: absolute;
    width: 200px;
    height: 50px;
    margin-left: 124px;
    margin-top: 451px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} 