.footer {
    background: map-get($colors, 'dark');
    height: 252px;

    &__box {
        display: flex;
        margin-left: 15px;
    }
}

.secondary__main {
    font-family: map-get($font-family, 'raleway');
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em; 
    width: 145px;
    height: 31px;
    margin-left: 15px;
}

.address__box {
    margin-top: 60px;
}

.address__list {
    margin-top: 20px;
    margin-left: 15px;
}

.address__item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: map-get($colors, 'white');

    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.address__mail,
.address__phone {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: map-get($colors, 'light-gray');
}

.join__us {
    margin-left: 70px;
}

.join__us__headline {
    width: 113px;
    height: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 39px;
}

.social-links__footer {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
        fill: map-get($colors, 'white');
        background-color: map-get($colors, 'accent');
        transition: fill 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.social__icon--inst,
.social__icon--twit,
.social__icon--fb,
.social__icon--ln {
    fill: map-get($colors, 'white');
}

.right__footer {
    margin-left: 50px;
    margin-top: 40px;
}

.newsletter {
    padding-top: 16px;
    padding-bottom: 30px;
    display: flex;
    gap: 12px;
}

.footer__heading {
    font-family: map-get($font-family, 'Roboto');
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: map-get($colors, 'white');
}

.newsletter__text {
    border: 1px solid map-get($colors, 'secondary');
    color: map-get($colors, 'secondary');
    background-color: transparent;
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        color: map-get($colors, 'accent');
        border: 1px solid map-get($colors, 'accent');
        outline: none;
    }
}


.newsletter__btn {
    background-color: map-get($colors, 'accent');
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 28px 10px 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    cursor: pointer;

    &__a {
        color: map-get($colors, 'white');
        font-size: 16px;
        font-family: map-get($font-family, 'roboto'), sans-serif;
        line-height: 1.875rem;
        font-weight: 500;
        letter-spacing: 0.06em;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
}