.header,
.navigation,
.container {
    display: flex;
    align-items: center;
}

.header {
    background: #ffffff;
    border-bottom: 1px solid #ececec;
    height: 80px;
}

.navigation__main {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    margin-left: px;
    width: 145px;
    height: 31px;
    margin-right: 93px;
}

.logo__part__one {
    color: var(--main-color);
}

.logo__part__two {
    color: #212121;
}

.logo__part__two__footer {
    color: #ffffff;
}

.navigation__item:not(:last-child) {
    margin-right: 46px;
}

.navigation__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--active::after {
    content: "";
    position: absolute;
    display: flex;
    width: 53px;
    height: 4px;
    margin-top: 28px;
    background: #2196f3;
    border-radius: 2px;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--active--port::after {
    content: "";
    position: absolute;
    display: flex;
    width: 58px;
    height: 4px;
    margin-top: 28px;
    background: #2196f3;
    border-radius: 2px;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__mail,
.contact__phone {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__mail {
    margin-right: 50px;
    margin-left: 351px;
}

.mail__icon,
.phone__icon {
    margin-right: 10px;
    fill: currentColor;
}

.mail__icon:hover,
.phone__icon:hover {
    fill: var(--main-color);
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}