.projects {
    margin-left: 55px;
    margin-right: 15px;
    margin-bottom: 94px;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
}

.projects__item {
    width: 370px;
    height: 404px;
    background: map-get($colors, 'white');
    box-sizing: border-box;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: -30px;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:nth-child(-n + 6) {
        margin-bottom: 30px;
    }

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        transform: translateY(0);
        transition: box-shadow 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.box {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.box:hover .overlay {
    transform: translateY(0);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-family: map-get($font-family, 'roboto');
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: map-get($colors, 'white');
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 45px;
    padding-bottom: 49px;
}

.projects__card {
    border: 1px solid #eeeeee;
}

.projects__name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-left: 24px;
}

.projects__type {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: map-get($colors, 'secondary');
    margin-top: 4px;
    margin-left: 24px;
} 